li.earthquake_red {
    list-style-type: square;
    color: red;
}
li.earthquake_orange {
    list-style-type: square;
    color: orange;
}
li.earthquake_yellow {
    list-style-type: square;
    color: #e3e300;
}
li.earthquake_green {
    list-style-type: square;
    color: green;
}
li.earthquake_unknown {
    list-style-type: square;
    color: grey;
}

li.earthquake_red_ol {
    color: red;
}
li.earthquake_orange_ol {
    color: orange;
}
li.earthquake_yellow_ol {
    color: #e3e300;
}
li.earthquake_green_ol {
    color: green;
}
li.earthquake_unknown_ol {
    color: grey;
}

.earthquake_tsunami {
    height: 14px;
    width: 14px;
}

	  
  