name: Pelican Publish

on:
  schedule:
    - cron: '13 13 * * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: deploy code
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}

          script: |
            git clone git@github.com:ryancheley/cvscienceshakers.com.git

            source /home/cvscienceshakers/venv/bin/activate

            cp -r cvscienceshakers.com/* .

            pip install .

            pelican content -s publishconf.py

            rm -rf cvscienceshakers.com/